* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#results h1 {
  color: darkslategrey;
  text-transform: uppercase;
}

#results p {
  display:inline;
  color: blueviolet;
}

#results span{
  color: cornflowerblue;
}

/*#results span {*/
  /*margin-left: 30px;*/
  /*display:block;*/
  /*color: cornflowerblue;*/
/*}*/

#results .level0 {
  margin-left: 0px;
}

#results .level1,
#results .level2,
#results .level3,
#results .level4
{
  margin-left: 30px;
  display: block;
}

#results .results {
  margin: 20px;
}

#results .closing-tag {
  margin: 0;
  display:inline;
}