* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: darkslategrey;
  text-transform: uppercase;
}

p {
  display:inline;
  color: blueviolet;
}

span {
  color: cornflowerblue;
  display: block;
  margin-left: 30px;
}

.modelResults {
  margin-left: 0px;
}

.results {
  margin: 20px;
}

.closing-tag {
  margin: 0;
  display:inline;
}